:root {
    --grid-rows: 1;
    --grid-cols: 1;
}

body {
    top: 0;
    left: 0;
    overflow: hidden;
    background-color: #ededed;
    font-family: "Roboto", sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

h1 {
    font-size: 70px;
    margin: 20px;
    margin-bottom: 30px;
}

button {
    width: 180px;
    height: 35px;
    margin-bottom: 1.5em;
    font-size: 18px;
    margin-left: 1 0px;
    margin-right: 10px;
    outline: none;
    border: none;
}

button:hover {
    background-color: #d6cfcf;
    border: solid;
}

#container {
    width: 500px;
    height: 500px;
    border: solid 2px black;
    display: grid;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
}

.grid-item {
    background-color: white;
    border: solid 1px black;
}